@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 256px;
  height: 100%;
}

main {
  margin-left: 256px;
  min-height: 100vh;
}

textarea:focus,
input:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.5); /* Azul */
}

html, body {
  height: auto; /* Permitir que crezca dinámicamente */
  margin: 0;
  padding: 0;
  display: block;
  background-color: #f3f4f6; /* Fondo gris claro */
}

#root,
#__next {
  display: block;
  width: 100%;
  min-height: 100vh;
}


.nav-icon-active {
  color: #4f46e5; /* Índigo */
}
.nav-icon-inactive {
  color: #9ca3af; /* Gris claro */
}
